/_build
/deps
/doc
/tmp
/node_modules

!.keep

/priv/static/js
!/priv/static/js/.keep
/priv/static/css
!/priv/static/css/.keep
/priv/static/images
!/priv/static/images/.keep

/priv/static/favicon*
/priv/static/manifest.json
/priv/static/robots.txt.gz
/priv/static/robots-*
/priv/static/.well-known
!/priv/static/.well-known/.keep
/priv/cert
!priv/cert/.keep

/config/oauth
!/config/oauth/.keep

/installer/_build
/installer/tmp

erl_crash.dump
npm-debug.log
