<resume-section-pane sid="1" display-name="Introduction"
    layout="column" layout-align="start stretch">
  <div class="space-vertical md-display-1">Hello, World! I'm Rongduan (Kevin) Zhu or 朱荣端</div>
  <div class="space-vertical">Born in China, raised up in Australia, now in the United States.</div>
  <div class="space-vertical">Passionate about software engineering, especially the modern web.</div>
  <div class="space-vertical">
    <span>Currently a Software Engineer at</span>
    <img class="ms" src="https://upload.wikimedia.org/wikipedia/commons/9/94/M_box.svg" alt="Microsoft">
    <span>.</span>
  </div>
</resume-section-pane>
<resume-section-pane sid="2" display-name="Projects"
    layout="column" layout-align="start stretch">
  <div class="space-vertical md-display-1">My Projects</div>
</resume-section-pane>
<resume-section-pane sid="3" display-name="Experience"
    layout="column" layout-align="start stretch">
  <div class="space-vertical md-display-1">My Experience</div>
</resume-section-pane>
<resume-section-pane sid="4" display-name="Education"
    layout="column" layout-align="start stretch">
  <div class="space-vertical md-display-1">My Education</div>
</resume-section-pane>
