<resume-section-pane sid="1" display-name="Introduction"
    layout="column" layout-align="start stretch">
  <div class="space-vertical md-display-1">
    Hello, World! I'm Rongduan (Kevin) Zhu or 朱荣端
  </div>
  <div class="space-vertical">
    Born in China, raised up in Australia, now in the United States.
  </div>
  <div class="space-vertical">
    Passionate about software engineering, especially the modern web.
  </div>
  <div class="space-vertical">
    <span>Currently a Software Engineer at</span>
    <img class="ms" alt="Microsoft"
        src="https://upload.wikimedia.org/wikipedia/commons/9/94/M_box.svg">
    <span>.</span>
  </div>
</resume-section-pane>
<resume-section-pane sid="2" display-name="Experience" url="/resume/experience"
    layout="column" layout-align="start stretch">
  <div class="space-vertical md-display-1">Work History</div>
  <div class="work-history" flex="noshrink" layout="row" layout-align="start stretch">
    <timeline flex="noshrink" from="Jan, 2016" layout="row"></timeline>
    <div class="detail" flex="grow" layout="column">
      <div class="md-title">Microsoft</div>
      <div class="position">Software Engineer</div>
      <div class="description">
        <p class="p">I'm part of the Universal Store team, working on the internal commerce system.</p>
      </div>
    </div>
  </div>
  <div class="work-history" flex="noshrink" layout="row" layout-align="start stretch">
    <timeline flex="noshrink" from="Mar, 2015" to="Dec, 2015" layout="row"></timeline>
    <div class="detail" flex="grow" layout="column">
      <div class="md-title">Soybean</div>
      <div class="position">Co-Founder</div>
      <div class="description">
        <p class="p">Developed web applications using AngularJS, Rails, Django, Docker, Compose, Nginx, Redis, and Postgres</p>
        <p class="p">Pitched to investors, managing and engaging with clients</p>
      </div>
    </div>
  </div>
  <div class="work-history" flex="noshrink" layout="row" layout-align="start stretch">
    <timeline flex="noshrink" from="Jan, 2014" to="Sep, 2015" layout="row"></timeline>
    <div class="detail" flex="grow" layout="column">
      <div class="md-title">Department of Defence, Australia</div>
      <div class="position">System Analyst</div>
      <div class="description">
        <p class="p">Customized Sharepoint website to heavily utilize RESTful API provided by Sharepoint. Wrote AngularJS components that are used for CRUD operations. The result is 3 times performance gain over default Sharepoint website (we were using IE8, which took a very long time to re-render the page).</p>
        <p class="p">Wrote MS Word Solution using VBA that utilizes data from Sharepoint to generate annual report for applications we managed.</p>
        <p class="p">Created new scripts (Python, VB) that automated system clean up and software updates.</p>
      </div>
    </div>
  </div>
</resume-section-pane>
<resume-section-pane sid="3" display-name="Education" url="/resume/education"
    layout="column" layout-align="start stretch">
  <div class="space-vertical md-display-1">Education</div>
</resume-section-pane>
<resume-section-pane sid="4" display-name="Projects" url="/resume/projects"
    layout="column" layout-align="start stretch">
  <div class="space-vertical md-display-1">My Projects</div>
</resume-section-pane>
